<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.idv.frank.simple_standard_law.schema.system.model.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="tw.idv.frank.simple_standard_law.schema.system.model.entity.Role">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_name, create_time
  </sql>

  <insert id="addRole" parameterType="tw.idv.frank.simple_standard_law.schema.system.model.dto.RoleAddReq" keyProperty="roleId" useGeneratedKeys="true">
    insert into system.role (role_name) values
    (#{roleName})
  </insert>

  <select id="findRoleList" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from system.role
  </select>

  <update id="updateRole" parameterType="tw.idv.frank.simple_standard_law.schema.system.model.dto.RoleUpdateReq">
    update system.role
      set role_name = #{roleName}
    where role_id = #{roleId}
  </update>

  <delete id="deleteRole" parameterType="java.lang.Integer">
    delete from system.role
      where role_id = #{roleId}
  </delete>
</mapper>