<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.idv.frank.simple_standard_law.schema.system.model.dao.UsersRoleMapper">

  <resultMap id="BaseResultMap" type="tw.idv.frank.simple_standard_law.schema.system.model.entity.UsersRole">
    <id column="user_role_id" jdbcType="INTEGER" property="userRoleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <resultMap id="UsersRoleResResultMap" type="tw.idv.frank.simple_standard_law.schema.system.model.dto.UsersRoleRes">
    <id column="user_Id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <collection property="roleList" ofType="tw.idv.frank.simple_standard_law.schema.system.model.dto.UserRoleDto" javaType="java.util.ArrayList" >
      <result column="role_id" jdbcType="INTEGER" property="roleId"/>
      <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </collection>
  </resultMap>

  <insert id="addUsersRole" parameterType="tw.idv.frank.simple_standard_law.schema.system.model.dto.UsersRoleReq">
    <if test="roleIdList != null and roleIdList.size() > 0">
      INSERT INTO system.users_role (user_id, role_id) VALUES
      <foreach collection="roleIdList" item="roleId" separator=",">
        (#{userId}, #{roleId})
      </foreach>
    </if>
  </insert>

  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    delete from system.users_role where user_id = #{user_id}
  </delete>

  <select id="findUsersRoleByUserId" parameterType="java.lang.Integer" resultMap="UsersRoleResResultMap">
    select u.user_id, u.user_name, r.role_id, r.role_name, ur.create_time from system.users_role ur
      inner join system.users u on ur.user_id = u.user_id
      inner join system.role r on ur.role_id = r.role_id
    where ur.user_id = #{user_id} order by r.create_time;
  </select>

</mapper>